/****************************************** 
	
		Desenvolvido por Gabriel da Luz 
		
		http://gabrieldaluz.com.br/
	
*******************************************/

/* ~~~~~~~~~~~~~**~~~~~ Load Configurações ~~~~~**~~~~~~~~~~~~~ */

/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Fonts */
.font-pacifico { font-family: 'Pacifico', cursive; }

/* All */
* { margin:0px; padding:0px; }
*:focus { outline:0; }
a, a:hover {  color:initial; text-decoration:none; }

/* Body */
body { font-family: 'Arial, Helvetica, sans-serif'; font-weight: normal; font-style: normal; line-height:120%; letter-spacing: normal; }


/* ~~~~~~~~~~~~~**~~~~~ Inicio ~~~~~**~~~~~~~~~~~~~ */


section.hello {  padding-top: 80px;  }
section.hello h3 { text-align: center; font-size: 60px; }
section.hello div.html5 { text-align:center; padding:50px; }
section.hello div.html5 i { font-size:158px; color:red; }
footer div.container {     text-align: center; padding-bottom: 50px; }

/* Header */
header { }

/* Section */
section { }

/* Footer */
footer { }